<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Restaurant</title>
</head>
<body>
  {% block content %}
  
    <section>
      
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="{% url 'index' %}">Restaurant</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
               
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                  <form class="form-inline" method="POST">
                    {% csrf_token %}
                    <input class="schfr form-control mr-sm-2  pt-1 pb-1" name="search" placeholder="Search" aria-label="Search">
                    <button class="subbt btn btn-outline-primary pt-1 pb-1" type="submit">Search</button>
                  </form>
                  
                  <li class="nav-item">
                    <a class="nav-link">Hi, {{username}}</a>
                  </li>
                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logoutpage' %}">Logout</a>
                  </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'loginpage' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'registerpage' %}">Register</a>
                </li>
                {% endif %}
                  </ul>
                 
                </div>
              </nav>
        </div>
    </section>
    
    <section>
      <div class="container mt-3">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12 mx-auto ">
            <div class="schfr card card-body">
             <form action="" method="GET">
              {{filter.form}}
              <button class="subbt btn btn-outline-primary ml-5 mt-1" type="submit">Search</button>
             </form>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="row ml-1 mr-1">
      <div class="col-lg-2 col-md-2 col-12 mt-3 text-center">
          {% for i in category %}
          <div class="catac card card-body mt-2 pb-1 pt-1">
            <a href="{% url 'detail' i.id %}">{{i.title}}</a>
          </div> 
          {% endfor %}
      </div>

      <div class="col-lg-9 col-md-9 col-12 mt-4">
        <div class="row">
          {% for i in menu %}
          <div class="col-lg-3 col-md-3 col-12">
          <div class="menac card card-body mt-1">
          <p><strong>{{i.name}}</strong></p>
          <p class="pr "><strong>{{i.price}}</strong></p>
          <p class="pr "><strong>{{i.category}}</strong></p>
          <p class="pr mb-0"><strong>{{i.food_type}}</strong></p>
          </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </section>


    {% endblock %}

  


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>